<h1><%= @house.name %></h1>
<% @house.characters.each do |character| %>
<div class="char">
  <h2><%= link_to character.name, character_path(@character) %></h2>
  <%= image_tag character.img_url %>
</div>
<% end %>
