<h1><%= @character.name %></h1>


  <%= image_tag @character.img_url %>


<%= link_to "Edit", edit_character_path(@character, @house) %>
      <%= link_to "Delete", character_path(@character, @house), method: :delete%>
