body {
text-align: center;
background-color: #FFA07A;
}

.house {
  background-color: grey;
}

.game {
  font-size: 50px;
  color: red;
}

img#logo{
  width: 800px;
  height: 200px;
}
#charName {
  background-color: yellow;
  border: 8px double grey;
  border-radius: 50%;
  text-align: center;
margin-top: 60px;
font-weight: bold;
font-size: 30px;

}
